---
---
<div 
class="grid grid-cols-6 gap-4 my-4">
    <div class="col-span-2">
        <slot name="first-image" />
    </div>
    <div class="col-span-2">
        <slot name="second-image" />
    </div>
    <div class="col-span-2">
        <slot name="third-image" />
    </div>
    <div class="col-span-3">
        <slot name="fourth-image" />
    </div>
    <div class="col-span-3">
        <slot name="fifth-image" />
    </div>
</div>