---
import CardPackage from '../components/CardPackage.astro';
---
<div class="flex flex-col md:flex-row gap-4 items-center justify-center mt-10 mb-28">
    <CardPackage price='250/Night' days='10 Days Tour' title='Island Against Cloudy Sky' ubicacion='Banaue, Ifugao, Philippines' image='/01.webp'/>
    <CardPackage price='350/Night' days='10 Days Tour' title='Green Island on Blue Sea' ubicacion='Malinao, Bicol, Philippines' image='/02.webp'/>
    <CardPackage price='450/Night' days='10 Days Tour' title='Group of People Sitting' ubicacion='Banaue, Ifugao, Philippines' image='/03.webp'/>
</div>